

<div class="sub-header">
  <div class="header">
    <h1>Movimientos</h1>
    <input class="input-search" type="text" placeholder="Buscar..." />
  </div>


  <div class="button-header">
    <button type="button" class="button">Nuevo</button>
  </div>
</div>
<div class="container" >
  <table class="table">
    <thead>
    <tr>

      <th scope="col">Número Cuenta</th>
      <th scope="col">Tipo</th>
      <th scope="col">Saldo Inicial</th>
      <th scope="col">Estado</th>
      <th scope="col">Movimiento</th>
      <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr>

      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>

    </tbody>
  </table>
</div>
