/* EHernandez  - 25/02 */
/* Header Styles */
.button {
  padding: 5% 80px 5% 80px;
  background-color: #FFDF00;
  border-radius: 4%;
  border-color: transparent;
  font-weight: 600;
  font-size:initial;
  color:#10255e;
}
.title{
  color:#10255e;
}
.header {
  position: absolute;
  left: 20;
}
.sub-header {
  display: flex;
  max-width: 100%;
  width: 600px;
  margin-bottom: 14%;
}
.button-header {
  position: absolute;
  right: 4%;
  margin-top: 30px;
}
.button:active{
  background-color: white !important;
  border: 1px solid #FFDF00;

}
.input-search {
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4%;
}
.input-edit {
  padding: 4px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4%;
}

/* Container Styles */
.container {
  display: grid;
}
.btn{
  color:white;
  border-radius: 20px;
  border-color:transparent;
}
.btn-left{
  margin-right: 5px;
}
.btn-success{
  background-color: rgba(21,88,189,0.8);
}

.btn-confirm{
  background-color: rgba(70,213,80,0.8);
}
.btn-confirm:active{
  color: rgba(70,213,80,0.8);
  background-color: white;
}
.btn-success:active{
  background-color: white;
  color:rgba(21,88,189,0.8);
}
.btn-danger{
  background-color: rgba(198,23,23,0.8);
}
.btn-danger:active{
  background-color: white;
  color: rgba(198,23,23,0.8);
}
.option-label{
  text-align: center;
}



/* Table Styles */

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
  color:#10255e;
}
table thead tr {
  height: 60px;
  background: #FFDF00;
  font-size: 16px;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: center;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


